<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="/static/js/jquery-1.12.4.min.js"></script>
	<style type="text/css">
		.message{
			margin: 10px;
			border-radius: 10px;
			padding: 10px 20px;
			background: #f2f2f2;
		}
	</style>
</head>
<body>
<div>
	聊天记录
	<div class="messages"></div>
	<input type="" name="" class="current_message"><button class="send_message">发送</button>
</div>
</body>
</html>
<script type="text/javascript" src="/static/js/index.js?t={{handler.time_now}}"></script>